/* BASIC */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
}

a {
  color: #039be5;
}

.hidden {
  display: none!important;
}

/* PRELOADER */

.preloader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.preloader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.preloader div:nth-child(1) {
  animation-delay: -0.45s;
}
.preloader div:nth-child(2) {
  animation-delay: -0.3s;
}
.preloader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toolbar */

.fixed-action-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  text-align: center;
  letter-spacing: .5px;
  text-decoration: none;
  border: none;
  outline: 0;
}

.btn-floating.btn-large {
  width: 46px;
  height: 46px;
  padding: 0;
}

#main-action-button .edit-button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#main-action-button .edit-button:hover {
  opacity: 1;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

#main-action-button .edit-button .button-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNjQgMzY4djgwaDgwbDIzNS43MjctMjM1LjcyOS03OS45OTktNzkuOTk4TDY0IDM2OHptMzc3LjYwMi0yMTcuNjAyYzguNTMxLTguNTMxIDguNTMxLTIxLjMzNCAwLTI5Ljg2NWwtNTAuMTM1LTUwLjEzNWMtOC41MzEtOC41MzEtMjEuMzM0LTguNTMxLTI5Ljg2NSAwbC0zOS40NjggMzkuNDY5IDc5Ljk5OSA3OS45OTggMzkuNDY5LTM5LjQ2N3oiLz48L3N2Zz4=);
}

#main-action-button .edit-button.editing .button-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNDA1IDEzNi43OThMMzc1LjIwMiAxMDcgMjU2IDIyNi4yMDIgMTM2Ljc5OCAxMDcgMTA3IDEzNi43OTggMjI2LjIwMiAyNTYgMTA3IDM3NS4yMDIgMTM2Ljc5OCA0MDUgMjU2IDI4NS43OTggMzc1LjIwMiA0MDUgNDA1IDM3NS4yMDIgMjg1Ljc5OCAyNTZ6Ii8+PC9zdmc+);
}


/* CONTENT */

#main-content {
  padding: 15px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-content code {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  width: 100%;
  display: inline-block;
  font-size: 150%;
}
